<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="#{Addcontact.welcome.message}"></h1>

    <form method="post" th:action="@{/contact/add}" th:object="${addContactForm}">
        <span th:errors="*{name}"></span>
        Imię: <input type="text" th:field="*{name}"/>
        <span th:errors="*{surname}"></span>
        Nazwisko: <input type="text" th:field="*{surname}"/>
        <span th:errors="*{phone}"></span>
        Telefon: <input type="text" th:field="*{phone}"/>
        <span th:errors="*{email}"></span>
        Email: <input type="text" th:field="*{email}"/>
        <input type="submit" value="Dodaj"/>
    </form>
</body>
</html>