<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyemeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center;">
    <ul>
        <li th:each="contact : ${contacts.getContent()}" th:text="${contact.getPhone()}"></li>
    </ul>

    <a th:each="number: ${#numbers.sequence(0, contacts.getTotalPages() - 1)}" th:href="@{'/' + ${number}}" th:text="${number + ' '}"></a>
    <br/>
    <a href="/contact/add">Dodaj nowy kontakt</a>
</div>
</body>
</html>